border-1px-fangfa($color-canshu)
  position relative
  &::after
      display block
      position absolute
      bottom: 0
      left 0
      width 100%
      border-top: 1px solid $color-canshu
      content: ' '
 